<h2>Admin Portal</h2>
<ul>
	<li>Games</li>
	<li>List Games</li>
	<li>See Upcoming Games - Roster</li>
	<li>Next game - set lineup</li>
	<li>Next game - print lineup</li>
	<li>Next game - send email</li>
	<li>Next game - who has beer, water bottles and pucks</li>
	<li>Next game - send reminder</li>
	<li>Last game - who was there, what was score</li>
	<li>Add Games</li>
</ul>

<ul>
	<li>Players</li>
	<li>List Players</li>
	<li>Add Player, Edit Player, Delete Player</li>
</ul>

<ul>
	<li>Team Administration</li>
	<li>pics?  links?  message board?</li>
</ul>
