<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">Welcome Skater!
      <!-- page meta -->
      <span class="page-meta">Team Name</span>
    </h2>
    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="index.html"><i class="fa fa-home"></i> Home</a> 
      <!-- Divider -->
      <span class="divider">/</span> 
      <a href="#" class="bread-current">Dashboard</a>
    </div>
    <div class="clearfix"></div>
</div><!--/ Page heading ends -->

<!-- Matter -->
<div class="matter">
    <div class="container-fluid">
      <div class="row-fluid">

        <!-- Content -->
		<p>Am I logged in?  yes?  Display team portal home</p>
		<p>Our Last Game Results</p>
		<p>Our Next Game - Am I in?</p>
      </div>
    </div>
</div><!--/ Matter ends -->         
